################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RuTTiK27.BookStore/.vs/RuTTiK27.BookStore
/RuTTiK27.BookStore/RuTTiK27.BookStore/bin/Debug/netcoreapp3.1
/RuTTiK27.BookStore/RuTTiK27.BookStore/obj
/RuTTiK27.BookStore/RuTTiK27.BookStore/wwwroot/lib
